.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 98%;
  background-color: #282828;
  padding: 20px;
}

.footer .footerCenter {
  flex: 0.4;
  padding: 0 100px 0 100px;
  color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 330px;
}

.footer .footerCenter .footerGreen {
  transition: 0.3s ease-in-out;
}

.footer .footerCenter .footerGreen:hover {
  color: white;
}

.footer .footerCenter .footerIcon {
  transition: 0.3s ease-in-out;
}

.footer .footerCenter .footerIcon:hover {
  color: white;
}

.footer .footerLeft {
  flex: 0.3;
  max-width: 300px;
}

.footer .footerLeft .footerSong {
  display: flex;
  align-items: center;
}

.footer .footerLeft .footerSong .AlbumLogo {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: 1rem;
}

.footer .footerLeft .footerSong .footerSongInfo h4 {
  margin-bottom: 5px;
  color: #b3b3b3;
}

.footer .footerLeft .footerSong .footerSongInfo p {
  font-size: 12px;
  color: #b3b3b3;
}

.footer .footerRight {
  display: flex;
  flex: 0.3;
  color: #b3b3b3;
  align-items: center;
  justify-content: space-between;
}

.footer .footerRight *.MuiSlider-root {
  color: #b3b3b3;
}
