$SiderbarColor: #040404;
$BorderColor: #282828;
$navColor: #b3b3b3;
.sidebar {
  height: 100vh;
  flex: 0.1;
  background-color: $SiderbarColor;
  color: white;
  min-width: 212px;
  padding: 0px 10px 0px 10px;
  .SidebarLogo {
    height: 85px;
    width: 135px;
    object-fit: contain;
    margin-left: 0.8rem;
    &:hover {
      cursor: pointer;
    }
  }
  .SiderbarTitle {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: $navColor;
  }
  hr {
    border: 1px solid $BorderColor;
    width: 90%;
    margin: 10px auto;
  }
}
