.sidebar {
  height: 100vh;
  flex: 0.1;
  background-color: #040404;
  color: white;
  min-width: 212px;
  padding: 0px 10px 0px 10px;
}

.sidebar .SidebarLogo {
  height: 85px;
  width: 135px;
  object-fit: contain;
  margin-left: 0.8rem;
}

.sidebar .SidebarLogo:hover {
  cursor: pointer;
}

.sidebar .SiderbarTitle {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #b3b3b3;
}

.sidebar hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
